@model KermesseApp.Models.tbl_cat_producto

@{
    ViewBag.Title = "VwGuardarCatProd";
}

@using (Html.BeginForm("GuardarCatProd", "Tbl_cat_producto", FormMethod.Post))
{
        <h3 style="padding-bottom: 1rem;">Control de Categorías de Productos</h3>
        <hr>
        <div class="form-group">
            <label>Nombre de la Categoría</label>
            @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Descripción de la Categoría</label>
            @Html.TextAreaFor(x => x.descripcion, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="reset" class="btn btn-danger">Cancelar</button>
        </div>
}
@Html.ActionLink("Regresar", "tbl_catProducto")
