@model IEnumerable<KermesseApp.Models.tbl_productos>

@{
    ViewBag.Title = "tbl_Productos";
}

@using (Html.BeginForm("FiltrarProd", "Tbl_productos", FormMethod.Post))
{
    <h2 style="padding-bottom: 2rem;">Productos</h2>

    <div class="row justify-content-md-end" style="padding-bottom: 1rem;">
        <div class="col-md-auto" style="padding-right:12rem;">
            <p>
                <a href="@Url.Action("VwGuardarProd")"
                   class="btn btn-primary">
                    <ion-icon name="add-outline"></ion-icon>
                    <span>
                        <strong>Añadir Nuevo</strong>
                    </span>
                </a>
            </p>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBox("cadena", null, new { @class = "form-control col-sm-10", @placeholder = "Buscar", @name = "search-outline" })
                <div class="input-group-append">
                    <button type="submit" class="btn btn-success">
                        <i data-feather="search"></i>Buscar
                    </button>
                </div>
            </div>
        </div>
    </div>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.Label("Nombre")
                </th>
                <th>
                    @Html.Label("Descripción")
                </th>
                <th>
                    @Html.Label("Cantidad")
                </th>
                <th>
                    @Html.Label("Precio")
                </th>
                <th>
                    @Html.Label("Categoría")
                </th>
                <th>
                    @Html.Label("Comunidad")
                </th>
                <th>
                    @Html.Label("Acciones")
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-wrap" style="width: 5rem;">
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td class="text-wrap" style="width: 18rem;">
                    @Html.DisplayFor(modelItem => item.desc_presentacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio_venta)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_cat_producto.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_comunidad.nombre)
                </td>
                <td>
                    <a href="@Url.Action("EditarProd", new { id = item.id_producto })"><ion-icon name="create-outline" style=" font-size: 20px; pointer-events:none;"></ion-icon></a>
                    <a href="@Url.Action("VerProd", new { id = item.id_producto })"><ion-icon name="document-text-outline" style=" font-size: 20px; pointer-events: none;"></ion-icon></a>
                    <a href="@Url.Action("EliminarProd", new { id = item.id_producto })"><ion-icon name="trash-outline" style=" font-size: 20px; pointer-events: none;"></ion-icon></a>
                </td>
            </tr>
        }

    </table>
}
