@model KermesseApp.Models.tbl_productos

@{
    ViewBag.Title = "VerProd";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://as1.ftcdn.net/v2/jpg/00/41/40/38/1000_F_41403871_XgEFR2CYL5JdEPK47HcgaOTRduKImzV9.jpg" class="card-img-top" />
            </div>
            <div class="col-md-8">
                <div class="card-body ">
                    <div class="card-title">
                        <h3 style="padding-top: 1rem;">Detalle del producto</h3>
                    </div>

                    <label class="card-description">Nombre</label>
                    <dd style="font-size:20px;">
                        @Html.DisplayFor(model => model.nombre)
                    </dd>

                    <label class="card-description">Descripción</label>
                    <dd style="font-size:20px;">
                        @Html.DisplayFor(model => model.desc_presentacion)
                    </dd>

                    <label class="card-description">Cantidad</label>
                    <dd style="font-size:20px;">
                        @Html.DisplayFor(model => model.cantidad)
                    </dd>

                    <label class="card-description">Precio</label>
                    <dd style="font-size:20px;">
                        @Html.DisplayFor(model => model.precio_venta)
                    </dd>

                    <label class="card-description">Categoría</label>
                    <dd style="font-size:20px;">
                        @Html.DisplayFor(model => model.tbl_cat_producto.nombre)
                    </dd>

                    <dt>
                        <label class="card-description">Comunidad</label>
                    </dt>
                    <dd style="font-size:20px;">
                        @Html.DisplayFor(model => model.tbl_comunidad.nombre)
                    </dd>
                    <div class="form-group" style="padding-top:2rem;">
                        <a class="btn btn-rounded btn-block btn-inverse-info" href="@Url.Action("Tbl_Productos")"> Regresar </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>